

# Supabase Configuration
VITE_SUPABASE_URL="https://ixzpspqgdvhbxihnpzrg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4enBzcHFnZHZoYnhpaG5wenJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTU0MDYsImV4cCI6MjA5MDAzMTQwNn0.WpQy3jKtKjRhsUy34xLNsuho-2tr3MdNXKfQG_zd-mo"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4enBzcHFnZHZoYnhpaG5wenJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQ1NTQwNiwiZXhwIjoyMDkwMDMxNDA2fQ.KeWl2x_Mb7d6z7YYgUH1TcPaygsXg_bANHiJaotSj-w"

# Football Data API Configuration (football-data.org)
FOOTBALL_DATA_API_KEY="961924353051431fa511a89a262db628"


# Security
SYNC_SECRET="socialmvbad666"
